### Идентификатор платформы
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR841N-V13"

### Драйвер Wi-Fi из старого конфига
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### Основные настройки сети
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Язык веб-интерфейса
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Безопасность и SSH (Из старого конфига)
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### VPN (Старый + Новые)
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Защищенный DNS (DoT)
CONFIG_FIRMWARE_INCLUDE_STUBBY=y

### Современный Wi-Fi
CONFIG_FIRMWARE_INCLUDE_WPA3=y

### IPTV Медиасервер (Из старого конфига)
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Отключаем мусор для освобождения места под VPN и DNS
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n
CONFIG_FIRMWARE_INCLUDE_CIFS=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_ENABLE_USB=n

### МАКСИМАЛЬНОЕ СЖАТИЕ (ОБЯЗАТЕЛЬНО ДЛЯ 8 МБ!)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
